%h2.sub-header Listing Orders
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Address
        %th Email
        %th Payment
        %th Status
        %th
        %th
        %th
    %tbody
      = render partial: 'order', collection: @orders
