.col-sm-3.col-md-2.sidebar.well
  %ul.nav.nav-sidebar
    %li.active
      %a{:href => "#"}
        Admin
        %span.sr-only (current)
    %li
      = link_to 'Products', admin_products_path
    %li
      = link_to 'Orders', admin_orders_path
    %li
      %a{:href => "#"} Export
  %ul.nav.nav-sidebar
    %li.active
      %a{:href => "#"}
        Shop
        %span.sr-only (current)
    %li
      = link_to 'Cart', cart_path('-')
    %li
      = link_to 'Store', store_index_path
