.col-sm-3.col-md-2.sidebar.well
  %ul.nav.nav-sidebar
    %li.active
      %a{:href => "#"}
        Overview
        %span.sr-only (current)
    %li
      %a{:href => "#"} Reports
    %li
      %a{:href => "#"} Analytics
    %li
      %a{:href => "#"} Export
  %ul.nav.nav-sidebar
    %li
      = link_to 'Cart', cart_path('-')
    %li
      = link_to 'Store', store_index_path
    %li
      %a{:href => ""} One more nav
    %li
      %a{:href => ""} Another nav item
    %li
      %a{:href => ""} More navigation
  %ul.nav.nav-sidebar
    %li
      %a{:href => ""} Nav item again
    %li
      %a{:href => ""} One more nav
    %li
      %a{:href => ""} Another nav item
