= form_tag store_index_path, class: 'search-field', role: 'search', method: :get do |f|
  .row
    .col-md-6.col-md-offset-3
      .input-group.input-group-lg
        = text_field_tag :q, params[:q], class: 'form-control'
        %span.input-group-btn
          = button_tag "Search", class: 'btn btn-success', name: nil

%h1 Store Product
.row.placeholders
- cache ['store', Product.all] do
  - @products.each do |product|
    - cache ['entry', product] do
      = render partial: 'product', locals: { product: product }
