- if notice
  %p#notice
    = notice
%h1 Store Product
.row.placeholders
- cache ['store', Product.all] do
  - @products.each do |product|
    - cache ['entry', product] do
      = render partial: 'product', locals: { product: product }
