%h4 Store Product
= render 'application/search'
.jumbotron
  .row.placeholders
  - cache ['store', Product.all] do
    - @products.each do |product|
      - cache ['entry', product] do
        = render partial: 'product', locals: { product: product }
